@font-face {
    font-family: "Montserrat-Regular"; /* Имя шрифта */
    src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */

    font-family: "Montserrat-ExtraLight"; /* Имя шрифта */
    src: url(../fonts/Montserrat-ExtraLight.ttf); /* Путь к файлу со шрифтом */
}

body, h1, h2, p, .aboutme {
	margin: 0;
}

body {
	background-color: #f4f4f4;
	font-family: "Montserrat-ExtraLight";
}

header {
	border-bottom: 1.5px solid #64686d;
}


.main-title {
	font-family: "Montserrat-Regular";
	font-size: 90px;
	color: #64686d;
	text-align: left;
	padding-left: 30px;
	margin: 0;
	border-bottom: 1px solid #64686d;
}
.title {
	font-family: "Montserrat-Regular";
	font-size: 70px;
	color: #64686d;
	text-align: left;
	padding-left: 30px;
	margin: 0;
	border-bottom: 1px solid #64686d;
	}


.icon {
 	width:75px;
 	height: 75px;
}
.squareforphoto {
	width: 300px;
	height: 300px;
}

.mine-photo {
	height: 300px;
	border-radius: 50%;
}
.aboutme {
	background-color: #64686d;
	height: 300px;
}
.name, 
.e-mail {
	float:right;
	color: green;
}

ul {
	list-style-type: none;
}


